body {
  display: grid;
  justify-content: center;  
}

main {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 50px;
  padding: 10px;
}

button {
  border: none;
  border-radius: 0.6em;
  margin: auto;
  height: 2em;
  width: 7em;
  background: linear-gradient(120deg, rgba(255, 172, 137, 0.8), transparent),
  linear-gradient(270deg, rgba(120, 162, 120, 0.8), transparent),
  linear-gradient(180deg, rgba(1, 87, 121, 0.8), transparent);
}

button:hover {
  box-shadow: 0em 0em 1em gray;
  box-sizing: inherit;

  background: linear-gradient(120deg, rgba(255, 172, 137, 0.8), transparent 40%),
  linear-gradient(270deg, rgba(120, 162, 120, 0.8), transparent 40%),
  linear-gradient(180deg, rgba(1, 87, 121, 0.8), transparent 40%);
}

