*.out
Test.*
test.*

.DS_Store
Thumbs.db
desktop.ini

*.tmp
*.temp
*.log

*.out
*.exe
*.ipa

__pycache__/
*.py[cod]
.python-version

.ipynb_checkpoints/

.vscode/
.idea/
*.swp
*.swo

*.zip
*.rar
*.7z
*.tar.gz
