body {
  display: grid;
  justify-content: center;  
}

main {
  border: 1px solid blue;
  width: 150px;
  height: 500px;
  display: grid;
  justify-content: center;
  margin-top: 10vh;
}

div {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: auto;
}

#shadow-and-blur {
  box-shadow: 15px 15px 15px grey;
}

#double-shadow {
  box-shadow: 15px 15px 15px grey, -15px -15px 15px grey;
}

#shadow-within {
  box-shadow: 5px 5px 15px grey inset;
}