body { font-size: 20px;}

#shadow {
  text-shadow: 15px 15px grey;
}

#shadow-and-blur {
  text-shadow: 15px 15px 3px grey;
}

#double-shadow {
  text-shadow: 10px 7px 3px red, -10px -7px 3px blue;
}

#indented-text {
  color: antiquewhite;
  text-shadow: -1px -1px white, 1px 1px black;
}

#voluminous-text {
  color: antiquewhite;
  text-shadow: -1px -1px 1px black;
}

#contour {
  color: antiquewhite;
  text-shadow: 0px 0px 1px black;
}


/*
shadow-and-blur
double-shadow
indented-text
voluminous-text
*/