body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
  }
  
  .nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .navi {
    position: relative;
  }
  
  .navi:hover > .subnav {
    display: block;
  }
  
  .nav-link {
    display: block;
    padding: 8px 8px;
    
    background-color: #444;
    
    color: #fff;
    text-decoration: none;
  }
  
  .nav-link:hover {
    background-color: #333;
  }
  
  .subnav {
    display: none;
    min-width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    
    font-size: 12px;
    
    position: absolute;

    left: 0;
  }
  
  .subnav-link {
    display: block;
    padding: 8px 16px;
    
    background-color: #333;
    
    color: #fff;
    text-decoration: none;
  }
  
  .subnav-link:hover {
    background-color: #444;
  }
  