body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; /* similar strings */
  justify-content: space-between;
}

section {
  border: 1px solid black;
  display: flex;
  background-color: blue;
  width: 24vw;
  height: 200px;
  margin-top: 10px;
}

h2 {
  margin-left: 1em;
  color: aliceblue;
}

@media (max-width: 650px) {
  section {
    width: 47vw;
  }
}