body {
  background-color: rgb(92, 92, 92);
}

.picture {
  width: 300px;
  height: 300px;
  background-color: rgb(189, 252, 255);
  border-radius: 50%;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
}

.tower {
  width: 40px;
  height: 100px;
  background-color: white;
  position: absolute;
  bottom: 80px;
  left: 70px;
}

.tower::after {
  content: "";
  width: 10px;
  height: 16px;
  background-color: black;
  position: absolute;
  bottom: 70px;
  left: 15px;
}

.tower::before {
  content: "";
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 36px solid #D56851;
  position: absolute;
  top: -36px;
}

.house {
  width: 100px;
  height: 40px;
  background-color: white;
  position: absolute;
  bottom: 80px;
  left: 110px;
}

.house::before {
  content: "";
  width: 110px;
  height: 0;
  border-bottom: 15px solid #D56851;
  border-right: 15px solid transparent;
  position: absolute;
  top: -15px;
}

.house::after {
  content: "";
  width: 110px;
  height: 8px;
  background: #D56851;
  position: absolute;
  top: -22px;
}

@keyframes clouds {
  50% {
    left: 370px;
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    left: -110px;
  }
}

.clouds {
  width: 110px;
  height: 40px;
  position: relative;
  overflow: hidden;
  top: 80px;
  left: -100px; 

  animation-name: clouds;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.clouds > div {
  background: white;
  position: absolute;
}
.cloud_1 {
  width: 30px;
  height: 15px;
  border-radius: 60px 60px 0 0;
  top: 0;
  left: 0;
}
.cloud_1::after {
  content: "";
  width: 20px;
  height: 8px;
  background: white;
  border-radius: 40px 40px 0 0;
  position: absolute;
  left: 20px;
  top: 7px;
}
.cloud_2 {
  width: 24px;
  height: 10px;
  border-radius: 48px 48px 0 0;
  top: 30px;
  left: 30px;
}
.cloud_3 {
  width: 30px;
  height: 15px;
  border-radius: 60px 60px 0 0;
  top: 25px;
  left: 80px;
}
.cloud_3::after {
  content: "";
  width: 20px;
  height: 8px;
  background: white;
  border-radius: 40px 40px 0 0;
  position: absolute;
  left: -10px;
  top: 7px;
}
