.background
{
    background-image: url(img/bg.jpg);
    width: 600px;
    height: 400px;
}
img
{
    position: absolute;
}
.asteroid
{
    top: 130px;
    left: 110px;
    z-index: 5;
}
.planet-1
{
    top: 25px;
    left: 190px;
    z-index: 1;
}
.planet-2
{
    top: 66px;
    left: 50px;
    z-index: 2;
}
.planet-3
{
    top: 140px;
    left: 145px;
    z-index: 4;
}
.spaceship
{
    top: 130px;
    left: 200px;
    z-index: 5;
}
.ufo
{
    top: 130px;
    left: 20px;
    z-index: 5;
}
#button
{
    position: absolute;
    left: 200px;
    top: 200px;
    z-index: 5;
    background-color: rgb(147, 116, 57);
    color: white;
    padding: 10px;
    border-radius: 16px;
    border: none;
}