body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  display: grid;
  text-align: center;
}

h3 {
  font-weight: normal;
}

.div {
  display: flex;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 5px;
  background-color: blanchedalmond;
  flex: 1;
  border-radius:8px;
}

.img {
  width: 95%;
  height: 55px;
  margin-top: auto;
  margin-bottom: 20px;
}

#img1 {
  background-color: pink;
}

#img2 {
  background-color: rgb(0, 141, 196);
}

#img3 {
  background-color: #47ff94;
}