body {
  display: grid;
}


textarea {
  width: 8vw;
  height: 8vw;
  margin: 5px;
  resize: none;
}

.one {
  cursor: pointer;
}

.two {
  cursor: progress;
}

.tree {
  cursor: wait;
}

.four {
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/sad.png"), auto;
}