body {
  font-family: Arial;
  font-size: 16px;
}

.group {
  justify-content: center;
  display: flex;
}

.button {
  text-align: center;
  text-decoration: none;

  height: 40px;
  width: 40px;
  margin: 3px;

  background-color: #ddd;
  color: #333;
  
  line-height: 36px;
}

.button:hover {
  background-color: #ccc;
}

.button:active {
  background-color: #d10953;
  color: #fff;
}

#one:focus:hover, #two:focus:hover, #tree:focus:hover {
  background-color: #d10953;
}

#one:focus, #two:focus, #tree:focus {
  background-color: #d10953;
  color: #fff;
}
