.background{
    background-image: url(img/bg.jpg);
    width: 600px;
    height: 400px;
}
img{
    position: relative;
}
.superman{
    top: 230px;
    left: 490px;
    z-index: 1;
}
.asteroid{
    top: -27px;
    left: 350px;
    z-index: 1;
}
.planet-1{
    top: -20px;
    left: 35px;
    z-index: 1;
}
.planet-2{
    top: 70px;
    left: -220px;
    z-index: 3;
}
.planet-3{
    top: -31px;
    left: 140px;
    z-index: 2;
}
.spaceship{
    top: -212px;
    left: -105px;
    z-index: 5;
}
.ufo{
    top: -74px;
    left: -166px;
    z-index: 5;
}