.header {
  text-align: center;
  color: #fff;
  background-color: #7467c0;
  width: 100%;
  height: 50px;
  position: fixed;
  margin-top: -60px;
  margin-left: -8px;
}

.section {
  margin-top: 10px;
  border: 1px solid gray;
  margin-top: 60px;
  margin-bottom: 100px;
  margin-left: 5vw;
  margin-right: 5vw;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}