body {
    font-size: 20px;
}

button {
    background-color: blue;
    color: aliceblue;
    font-size: 15px;
    border: 0px;
    margin-top: 15px;
    height: 40px;
    width: 220px;
}

button:hover {
    background-color: rgb(74, 74, 253);
}