body {
  margin: 0px;
  display: grid;
  justify-content: center;
}

.nav {
  width: 100vw;
  background-color: rgb(196, 167, 117);
  text-align: center;
  height: 5vh;
}

.section {
  margin-top: 20vh;
  margin-left: 38vw;
  border-radius: 15px;
  background-color: antiquewhite;
  padding: 15px;
  border: 1px solid rgb(196, 167, 117);
  text-align: left;
  width: 25vw;
  display: grid;
}


.section p, .section h2 {
  margin: 8px;
}

#button {
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgb(196, 167, 117);
  border: 0px;
  width: auto;
  height: 30px;
}

#button:hover {
  background-color: rgb(155, 121, 64);
}