body {
  display: grid;
  border: 1px solid black;
  margin: 2px;
}

nav {
  display: flex;
}

div {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  margin: 2px;
}

main {
  display: flex;
}

aside {
  display: flex;
}

.section {
  border: 1px solid black;
  margin: 2px;
  width: 225px;
  height: 150px;
  padding: 2px;
}

.article {
  background-color: #000;
  width: 200px;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
}

.overbox1 {
  background-image: linear-gradient(to bottom, yellow, white);
}

.overbox2 {
  background-image: linear-gradient(to right, yellow, white);
}

.overbox3 {
  background-image: linear-gradient(to left, yellow, white);
}

.box1 {
  background-image: linear-gradient(to bottom, red 33%, white 34% 66%, red 67% 100%);
}

.box2 {
  background-image: linear-gradient(to right, red 20%, blue , white, red);
}

.overbox4 {
  background-image: radial-gradient(rgb(159, 237, 255), #0080ff);
}

.overbox5 {
  width: 250px;
  background-image: radial-gradient(rgb(159, 237, 255), #0080ff);
}

.box3 {
  width: 200px;
  background-image: radial-gradient(circle at 20% 20%, rgb(159, 237, 255), #0063c5, transparent 30%),
  radial-gradient( #0063c5);
}

.box4 {
  width: 200px;
  
  background-image: radial-gradient(circle,#000, #000, transparent 10%),
  radial-gradient(circle, #FFF, #FFF, 15%, transparent 15%),
  radial-gradient(circle, #080);
}

.underbox1 {
  background-image: repeating-linear-gradient(
    #000000 0px,
    #000000 5px,
    #ffffff 5px,
    #ffffff 10px);
  height: 100px;
}

.underbox2 {
  background-image: repeating-linear-gradient(
    45deg,
    #ff0000 0px,
    #ff0000 3px,
    #ffffff 3px,
    #ffffff 6px);
  height: 20px;
}

.underbox3 {
  background-image: repeating-radial-gradient(
    circle,
    #000000 0px,
    #000000 2px,
    #ffffff 2px,
    #ffffff 4px);
  height: 300px;
}