body {
  background-color: #f8f8f8;
}

.form {
    width: 320px;
    height: 320px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 20px auto;
    background-color: #fff;
}
  
.input {
    display: block;
    width: 95%;
    padding: 8px 8px  ;;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
  
.button {
    display: block;
    width: 100%;
    padding: 8px 10px;
    border: 0;
    background-color: #1cbc11;
    color: #fff;
 }
  
.button:hover {
    background-color: #14a20a;
}